body {
  margin: 0px;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.loginBtn {
  margin-top: 15px;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  width: 343px;
  margin-left: 30px;

  background: #778899;
  color: white;

  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;

  cursor: pointer;
  user-select: none;
  transition: 0.2s all;
  box-shadow: 1px 1px 1px 1px #dadce0;
}
.loginBtn:hover {
  background-color: #5b6875;
}

.faileMsg {
  font-size: 15px;
  color: red;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 30px;
}

.successMsg {
  font-size: 15px;
  color: rgb(86, 150, 92);
  text-align: left;
  margin-bottom: 5px;
  margin-left: 30px;
}

.inputBox {
  width: 330px;
  height: 40px;
  outline: none;
  padding-left: 10px;

  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;

  border-radius: 2px;

  font-size: 1.2rem;
}

.loginLogo {
  text-align: left;
  margin-left: 30px;
  font-size: 27px;
}

.main_header {
  background-color: #d3dedc;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(212, 211, 211);
  box-shadow: 0px 0px 1px 0px #dadce0;
  display: flex;
  justify-content: space-between;
}

.header_logo {
  display: inline-block;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.test_posts {
  margin: 13px;
  float: left;
  width: 220px;
  height: 200px;
  border: 1px solid;
  background-color: #ffefef;
}

.signupBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.faileModalBack {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.faileModal {
  width: 280px;
  height: 150px;

  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #dadce0;
  margin-bottom: 1px;
  background-color: #ffffff;
  position: relative;
}

.faileModalMsg {
  margin-top: 50px;
}

.close-SignupFailemodal {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 90px;
  box-shadow: 1px 1px 1px 1px #dadce0;
  font-size: 18px;
  background-color: #7c99ac;
  color: white;
  width: 100px;
}
.close-SignupFailemodal:hover {
  background-color: #5b6875;
}

.signupBtn {
  margin-bottom: 30px;
}

.checkSignupMsg {
  text-align: left;
  margin-left: 10px;
  zoom: 0.85;
}
.checkboxSignup {
  margin-left: 30px;
  margin-right: 5px;
}

.mobile010box {
  margin-left: 28px;
  width: 60px;
  height: 40px;
  outline: none;
  padding-left: 10px;

  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;

  font-size: 1.2rem;
}

.mobileAllBox {
  display: flex;
}

.mobileBodyBox {
  width: 256px;
  height: 40px;
  outline: none;

  padding-left: 10px;

  border-top: 1px solid #eee;
  border-left: none;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;

  font-size: 1.2rem;
}
.headerBtns {
  display: flex;
  margin: 0.5px;
}

.headerBtn {
  margin: 3px;
  background-color: #7c99ac;
  color: white;
  border-radius: 10px;
  cursor: grab;
  width: 100px;
  height: 30px;
  box-shadow: 2px 1px 3px 1px #dadce0;
}
.headerBtn:hover {
  background-color: #637a8a;
}

.headerBtnLogout {
  font-size: 13px;

  width: 50px;
  height: 65px;
}

.work_img {
  width: 100%;
  height: 180px;
  border: 1px solid black;
}
